# Hostname and port of Guacamole proxy
guacd-hostname: localhost
guacd-port:     {{ GUACD_PORT }}

# MySQL Properties
mysql-hostname: localhost
mysql-port: 3306
mysql-database: salsa
mysql-username: chips
mysql-password: {{ database_passwd }}
