<user-mapping>
   <authorize username="{{ USERNAME }}" password="{{ PASSWORD }}">
<!-- I have localhost VNC disabled by default
      <connection name="localhost">
         <protocol>vnc</protocol>
         <param name="hostname">localhost</param>
         <param name="port">5901</param>
         <param name="password">password</param>
      </connection> -->

{% for item in CLIENTS %}
      <connection name="{{ CLIENTS[item].name }}">
         <protocol>{{ CLIENTS[item].protocol }}</protocol>
         <param name="hostname">{{ CLIENTS[item].hostname }}</param>
         <param name="port">{{ CLIENTS[item].port }}</param>
{% if CLIENTS[item].conn_pass %}
         <param name="password">{{ CLIENTS[item].pass | default(omit) }}</param>
{% endif %}
      </connection>
{% endfor %}

   <!--This is how additional users can be added
   <authorize username="USERNAME" password="PASSWORD">
      <connection name="localhost">   
         <protocol>vnc</protocol>
         <param name="hostname">localhost</param>
         <param name="port">5900</param>
         <param name="password">VNCPASS</param>
      </connection> -->
   </authorize>
</user-mapping>