<user-mapping>
{% for thing in USERS %}
   <authorize username="{{ USERS }}" password="{{ GUACD_PASSWORD }}">
<!-- I have localhost VNC disabled by default
      <connection name="localhost">
         <protocol>vnc</protocol>
         <param name="hostname">localhost</param>
         <param name="port">5901</param>
         <param name="password">password</param>
      </connection> -->

{% for item in CLIENTS %}
      <connection name="{{ CLIENTS[item].name }}">
         <protocol>{{ CLIENTS[item].protocol }}</protocol>
         <param name="hostname">{{ CLIENTS[item].hostname }}</param>
         <param name="port">{{ CLIENTS[item].port }}</param>
{% if CLIENTS[item].conn_pass %}
         <param name="password">{{ CLIENTS[item].pass | default(omit) }}</param>
{% endif %}
      </connection>
{% endfor %}

   </authorize>
{% endfor %}
</user-mapping>