# Hostname and port of guacamole proxy
guacd-hostname: localhost
guacd-port:     {{ GUACD_PORT }}

# # Authentication provider class
auth-provider: net.sourceforge.guacamole.net.basic.BasicFileAuthenticationProvider

# # Properties used by BasicFileAuthenticationProvider
basic-user-mapping: {{ GUACAMOLE_HOME }}/user-mapping.xml