# Hostname and port of guacamole proxy
guacd-hostname: {{ GUACD-HOSTNAME }}
guacd-port:     {{ GUACD-PORT }}

# Location to read extra .jar's from
lib-directory:  /var/lib/tomcat7/webapps/guacamole-0.9.9/WEB-INF/classes

# Authentication provider class
auth-provider: net.sourceforge.guacamole.net.basic.BasicFileAuthenticationProvider

# Properties used by BasicFileAuthenticationProvider
basic-user-mapping: /etc/guacamole/user-mapping.xml